<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
    <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
        Thank You.. !!
    </ion-title>  
  </ion-toolbar>   
</ion-header>
    
<ion-content>
  <div class="bgstyle">
      <ion-item>
        <h4>You will be receive contributor details soon..</h4>
      </ion-item>
      <!-- <ion-item>
          Do you want to contribute to nearby orphanage?
      </ion-item>
      <ion-radio-group>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" color="success" value="Yes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="danger" value="No"></ion-radio>
        </ion-item>
    </ion-radio-group> -->
    </div>
  </ion-content>