<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
    <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title  size="medium">  
      Enter your address details
    </ion-title> 
    <ion-buttons slot="end">
        <ion-back-button defaultHref=“home”></ion-back-button>
      </ion-buttons> 
  </ion-toolbar>   
</ion-header>
 
<ion-content>
    <div class="bgstyle">
    <form #form="ngForm" >
        
      <ion-list>
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-select name="honorific" [(ngModel)]="honorific" interface="popover">
              <ion-select-option value="Mr">Mr</ion-select-option>
              <ion-select-option value="Miss">Miss</ion-select-option>
              <ion-select-option value="Mrs">Mrs</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name ="firstName" [(ngModel)]="firstName" required type="text" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name ="lastName" [(ngModel)]="lastName" required type="text" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Gender<ion-text color="danger">*</ion-text></ion-label>
            <ion-select [(ngModel)]="gender" name="gender" interface="popover" required>
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-checkbox name='location' color="tertiary" [(ngModel)]='locationSelected' [checked]='locationSelected' (ionChange)="loadMap()" slot="start"></ion-checkbox>
            <ion-label>Use my location</ion-label>
            <!-- (ionChange)="loadMap()" -->
          </ion-item>

          <ion-item name="address" *ngIf= '!locationSelected'>
            <ion-label position="stacked">Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name ="address1" [(ngModel)]="address1" placeholder="Address Line 1" clearInput></ion-input>
            <ion-input name ="address2" [(ngModel)]="address2" placeholder="Address Line 2" clearInput></ion-input>
            <ion-input name ="city" [(ngModel)]="city" placeholder="City" clearInput></ion-input>
            <ion-input name ="state" [(ngModel)]="state" placeholder="State" clearInput></ion-input>
            <ion-input name ="postalCode" [(ngModel)]="postalCode" placeholder="Zip Code" (keypress)="numberOnlyValidation($event)" clearInput></ion-input>
          </ion-item>

          <ion-item *ngIf= 'locationSelected'>
          <ion-label>{{lat}}, {{lng}}</ion-label>
          
          </ion-item>

    <!--          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item> -->
          <ion-item>
            <div #mapContainer id="map"></div>
          </ion-item>
        </ion-list>
        
        <!-- <div>
         <ion-button side="end" type="submit" [disabled]="!form.valid">Next</ion-button>
          <ion-button [color]="!form.valid?'warning':'success'" type="submit" [disabled]="!form.valid">
              <ion-icon slot="start" name=""></ion-icon>
              Next
              <ion-icon slot="end" name=""></ion-icon>
            </ion-button>
        </div> -->
        </form>
        </div>
    </ion-content>
    <ion-footer>
      <ion-grid>
          <ion-row>
            <ion-col style="text-align: right">
              <ion-button float-right [color]="!form.valid?'warning':'success'" (click)="processAddressForm(form)" [disabled]="!form.valid">
                <ion-icon slot="start" name=""></ion-icon>
                Next
                <ion-icon slot="end" name=""></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-footer>
  
  
  
  



