<ion-header>  
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title size="samll">  
      Ways of Help
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="gotoChatbot()"><ion-icon name="chatbubbles"></ion-icon></ion-button>
    </ion-buttons> 
  </ion-toolbar>   
</ion-header>
  
<ion-content>
  <div class="bgstyle">
  <form #form="ngForm">
      <ion-list>
            <ion-item button (click)="doNavigate('contributor')">
              <ion-thumbnail slot="start">
                <img src="../../../assets/image/contribute.png">
              </ion-thumbnail>
              <ion-label>
                <h3>To be a Contributor</h3>
                <p>Helps to provide the things</p>
              </ion-label>
            </ion-item>
          
            <ion-item button (click)="doNavigate('delivery')">
                <ion-thumbnail slot="start">
                  <img src="../../../assets/image/delivery.png">
                </ion-thumbnail>
                <ion-label>
                  <h3>To be a Delivery Partner</h3>
                  <p>Helps to distribute the things</p>
                </ion-label>
              </ion-item>
        </ion-list>
       
  </form>
</div>
</ion-content>