<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
    <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title size="medium">  
        Enter your vehicle information
    </ion-title>  
  </ion-toolbar>   
</ion-header>

<ion-content>
  <div class="bgstyle">
  <form #form="ngForm">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Vehicle Information (brand, type, color) <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea name ="vehicleInfo" [(ngModel)]="vehicleInfo" required clearInput></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Vehicle Registration # <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name ="vehicleRegNo" [(ngModel)]="vehicleRegNo" required type="text" clearInput></ion-input>
          </ion-item>

          <ion-item>
              <!-- <ion-label position="stacked">Your Proof(Goverment Approved)</ion-label>
              <ion-select [(ngModel)]="proofType" name="proofType" required> -->
              <ion-label position="stacked">Your Proof(Goverment Approved)</ion-label>
              <ion-select [(ngModel)]="proofType" name="proofType" required interface="popover">
                <ion-select-option value="Voter">Voter ID</ion-select-option>
                <ion-select-option value="Aadhar">Aadhar Card</ion-select-option>
                <ion-select-option value="License">License</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{proofType=="Voter"?"Voter ID":proofType=="Aadhar"?"Aadhar Card#":proofType=="License"?"License#":"Proof #"}}<ion-text color="danger">*</ion-text></ion-label>
            <ion-input name ="proofInfo" [(ngModel)]="proofInfo" required type="text" clearInput></ion-input>
          </ion-item>
      </ion-list>
<!-- 
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!form.valid">Save</ion-button>
        </div> -->
  </form>
</div>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
          <ion-col style="text-align: right">
            <ion-button float-right [color]="!form.valid?'warning':'success'" (click)="processVehicleForm(form)" [disabled]="!form.valid">
              <ion-icon slot="start" name=""></ion-icon>
              Next
              <ion-icon slot="end" name=""></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>